.HeaderBackColor {
  background-color: #002e6d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-link {
  font-family: cursive;
  font-size: 1.1rem;
  color: aliceblue;
}
#nav-link-logged {
  display: flex;
  justify-content: end;
  align-items: end;
}
